[submodule "boringssl"]
	path = quiche/deps/boringssl
	url = https://github.com/google/boringssl.git
	ignore = dirty
[submodule "quiche/deps/picotls"]
	path = quiche/deps/picotls
	url = git@github.com:h2o/picotls.git
